.main{
    min-height: 60vh;
    text-align: center;
    padding: 2em;
    background-color: aquamarine;
}

.main h2{
    margin-bottom: 0.8em;
}

.error{
    color: red;
}
input{
    border-radius: 45px;
}